/****************************** GLOBAL ******************************/
/********************************************************************/

:root {
    --darkgreen: #0b1411;
    --skyblue: #bfeaf3;
    --white: #FAFAF7;
    --green: #379563;
    --lightgreen: #84d4c2;
    --black: #212121;
}

html {
    font-size: 16px;
    font-family: "Roboto";
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

/****************************** HEADER ******************************/
/********************************************************************/

header {
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#nav-header {
    max-width: 1080px;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    background-color: rgba(255,255,255, 0.6);
    backdrop-filter: blur(4px);
    margin-top: .5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
}

#nav-header ul {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    padding: .5rem;
    color: var(--darkgreen);
    
    li:nth-child(2) {
        margin-left: auto;
    }
}

#nav-header li {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 10px;
}

#nav-header li:hover {
    background-color: var(--skyblue);
    cursor: pointer;
}

/******************************* HERO *******************************/
/********************************************************************/


.hero {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    gap: 1rem;
    position: absolute;
    
    
    h1 {
        font-size: 4rem;
        font-weight: 600;
        position: relative;
        text-shadow: 0 0 5px rgb(0,0,0,0.3);
        color: var(--green);
    }
    
    h2 {
        font-size: 3rem;
        font-weight: 600;
        text-shadow: 0 0 5px rgb(0,0,0,0.3);
        color: var(--white);
    }
    
    p {
        color: var(--darkgreen);
        font-size: 1.5rem;
        text-shadow: 0 0 5px rgb(0,0,0,0.3);
    }
}


/***************************** PARALLAX *****************************/
/********************************************************************/

.container-parallax {
    width: 100%;
    height: 100vh;
    background-color:aliceblue;
    position: relative;
    overflow: hidden;
}

.parallax-01 {
    width: 100%;
    height: 50vh;
    background-image: url("../img/parallax_sky.png");
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.parallax-02 {
    width: 100%;
    height: 50vh;
    background-image: url("../img/parallax_mountains.png");
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.parallax-03 {
    width: 100%;
    height: 50vh;
    background-image: url("../img/parallax_forest.png");
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    bottom: 0;
    z-index: 4;
}

.parallax-01, .parallax-02, .parallax-03, .hero {
    will-change: transform;
} 

/****************************** ABOUT ******************************/
/*******************************************************************/

.about {
    width: 100%;
    height: 100vh;
    background-color: var(--darkgreen);
    position: relative;
    
}