:root {
    --darkgreen: #0b1411;
    --skyblue: #bfeaf3;
    --white: #FAFAF7;
    --green: #379563;
    --lightgreen: #84d4c2;
}

html {
    font-size: 16px;
    font-family: "Roboto";
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

body {
    width: 100%;
    background-color: var(--skyblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/****************************** HEADER ******************************/
/********************************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    background-color: rgba(255,255,255, 0.6);
    backdrop-filter: blur(4px);
    z-index: 10;
    margin-top: .5rem;
    border-radius: 10px;
    padding: 0 2rem;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
}

#nav-header {
    max-width: 1080px;
    margin: auto;
}

#nav-header ul {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    padding: .5rem;
    color: var(--darkgreen);
    
    li:nth-child(2) {
        margin-left: auto;
    }
}

#nav-header li {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 10px;
}

#nav-header li:hover {
    background-color: var(--skyblue);
    cursor: pointer;
}

/*************************** SECTION HERO ***************************/
/********************************************************************/

#hero-section {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--skyblue) 0%, var(--white) 70%);
    /*background: linear-gradient(rgb(191,234,243) 0%, #bfeaf3 70%, #0b1411 100%);*/
    
    h1 {
        font-size: 4rem;
        font-weight: 600;
        position: relative;
        text-shadow: 0 0 5px rgb(0,0,0,0.3);
        color: var(--green);
        margin-top: 5rem;
    }
    
    h2 {
        font-size: 3rem;
        font-weight: 600;
        text-shadow: 0 0 5px rgb(0,0,0,0.3);
        color: var(--white);
    }
    
    p {
        color: var(--darkgreen);
        font-size: 1.5rem;
        text-shadow: 0 0 5px rgb(0,0,0,0.3);
    }
    
    button {
        background-color: var(--green);
        color: #FAFAF7;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        margin-top: 1rem;
        box-shadow: 0 0 5px rgb(0,0,0,0.3);
    }
    
    button:hover {
        background-color: var(--darkgreen);
        cursor: pointer;
    }
}

#parallax-forest {
    width: 100%;
    height: 50vh;
    margin-top: 50vh;
    background-image: url("../img/parallax_forest.png");
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: fixed;
    z-index: 2;
    animation: slideDown 1s ease-in forwards;
    background-attachment: fixed
}

#parallax-mountains {
    width: 100%;
    height: 50vh;
    margin-top: 50vh;
    background-image: url("../img/parallax_mountains.png");
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: fixed;
    z-index: 1;
    animation: slideDown 1s ease-in forwards;
    background-attachment: fixed
}

#parallax-sky {
    width: 100%;
    height: 50vh;
    margin-top: 50vh;
    background-image: url("../img/parallax_sky.png");
    background-size: auto 550px;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: fixed;
    z-index: 0;
    animation: slideDown 1s ease-in forwards;
    background-attachment: fixed
}

#parallax-01, #parallax-02 {
    will-change: transform;
}

@keyframes slideDown {
    from {
        opacity: 1;
    }
    to {
       opacity: 1;
    }
}

@keyframes sunriseColor {
    0%   { filter: hue-rotate(20deg) brightness(0.4); }
    100% { filter: hue-rotate(0deg) }
}

#title-hero {
    width: 100%;
    height: 50vh;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    position: fixed;
    animation: slideUp 1.5s ease forwards;
    
    span {
        color: #fff;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        translate: 0 -300px;
    }
    to {
       opacity: 1;
       translate: 0 0;
    }
}

/******************************* ABOUT *******************************/
/*********************************************************************/

#about {
    width: 100%;
    background-color: var(--darkgreen);
    z-index: 2;
    position: relative;
    margin-top: -1px;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: #FCFCFC;
    
    h2 {
        width: 50%;
        max-width: 1080px;
        padding-bottom: 1rem;
        padding-left: 5rem;
        font-size: 2.5rem;
        font-weight: 600;
        border-bottom: 2px solid var(--green);
    }
    
    p {
        font-size: 1.1rem;
        line-height: 1.7rem;
        white-space: pre-wrap;
        color: var(--white);
    }
    
    img {
        width: 100%;
        filter: hue-rotate(150deg);
        color: #FCFCFC;
    }
}

.about-waterfall {
    width: 100%;
    max-width: 1080px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 3rem;
}

.div-skeleton {
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-skeleton {
    display: block;
    width: 100%;
    
    height: 25px;

    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
    ),#7994C9;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 3s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

.span-skeleton:nth-child(1) {
    height: 15px;
}

.span-skeleton:nth-child(2) {
    height: 35px;
    max-width: 80%;
}

/***************************** PROJECTS *****************************/
/********************************************************************/

#projects {
    display: flex;
    justify-content: center;
    background-color: rgb(247,156,28);
    padding: 10rem 0;
}

#projects > div:first-of-type {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
}

#projects h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 3rem;
}

.div-projects {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cards {
    width: 100%;
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.05);
}

.cards div {
    height: 200px;
}

.cards h3 {
    color: #212121;
    font-size: 1.3rem;
    padding: .3rem;
    opacity: .5;
}

/***************************** CONTACT *****************************/
/*******************************************************************/

#contact {    
    display: flex;
    justify-content: center;
    background-color: #FAFAF7;
    padding: 10rem 0 20rem 0;
    
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
        text-align: center;
        margin-bottom: 3rem;
    }
}

#contact > div:first-of-type {
    width: 100%;
    max-width: 1080px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#contact label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#contact input {
    padding: .6rem;
    border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.3);
    font-size: 1.1rem;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.05);
}

#contact textarea {
    height: 10rem;
    resize: vertical;
    border-radius: 5px;
    padding: .6rem;
    font-size: 1rem;
    border: 1px solid rgb(0,0,0,0.3);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.05);
}

#contact button {
    background-color: #212121;
    color: #FAFAF7;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
}

.div-form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.div-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.one-column {
    grid-column: 1/3;
}

.button-form {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 25px;
}

.row-flex {
    margin-top: -26px;
    margin-left: -50px;
    display: inline-flex;
}

.row-color {
    min-width: 100px;
    height: 100px;
    background: #fff;
    transition: 1s;
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.row-flex:nth-child(even) {
    margin-left: 1px;
}

.row-color:hover {
    transition: 0s;
    background: #0f0;
}

.decorator-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
}

.decorator-div {
    height: 100px;
    border: 1px solid #D9D9D9;
}

/**************************** PAGE LOGIN ****************************/
/********************************************************************/

.main-login {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-login h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.div-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.div-button {
    display: flex;
    justify-content: space-around;
}

.form-login {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    
}

.form-login input {
    min-width: 350px;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid black;
}

.form-login button {
    margin-top: 1rem;
    width: 40%;
    padding: .5rem;
}

/***************************** DASHBOARD *****************************/
/*********************************************************************/

.main-dashboard {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.div-messages {
    max-width: 1080px;
    margin-top: 5rem;
    overflow-x: auto;
}

.div-messages h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.hero-messages {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.table-messages {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #fff;
}

.table-messages th, .table-messages td {
    text-align: left;
    padding: .3rem;
    border: 1px solid rgb(0,0,0,0.3);
}

.table-messages tr:has(.check-delete:checked) {
    background-color: rgb(60,60,60,0.1);
}

.td-delete label {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.th-delete label {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.table-messages th {
    font-weight: 600;
}

.table-messages th:nth-child(1) {
    width: 5%;
}

.table-messages th:nth-child(2) {
    width: 20%;
}

.table-messages th:nth-child(3) {
    width: 20%;
}

.table-messages th:nth-child(4) {
    width: 50%;
}

.table-messages th:nth-child(5) {
    width: 5%;
    text-align: center;
}

.table-messages td:nth-child(5) {
    text-align: center;
}

.table-messages td:nth-child(5):hover {
    cursor: pointer;
}

.admin-about {
    width: 100%;
    max-width: 1080px;
    margin-top: 5rem;
}

.admin-about h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.admin-about form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-about button {
    max-width: 150px;
}

.admin-about textarea {
    height: 250px;
    resize: vertical;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
}